/* EDIT ACCOUNT */
.edit-account {
    margin: 5vh 0 0 5vw;
}

.edit-account form {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.edit-account button {
    width: 25vw;
    height: 5vh;
    background-color: white;
    border: 1px solid var(--orangey);
    margin-bottom: 2vh;
}

.edit-account button.logout {
    width: 23.5vw;
    background-color: var(--orangey);
    border: 1px solid black;
}

/* BIOGRAPHY */
.profile-info {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.profile-picture {
    width: 40vw;
    height: auto;
    align-self: center;
}

.biography-wrapper {
    display: flex;
    flex-direction: column;
}

.biography {
    resize: none;
    padding: 5px;
    height: 20vh;
    border: 1px solid var(--orangey);
    margin-top: 3vh;
}

.biography:focus {
    outline: none;
}
