/* EDIT ACCOUNT */
.edit-account {
    margin: 5vh 0 0 5vw;
}

.edit-account form {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.edit-account button {
    width: 25vw;
    height: 5vh;
    background-color: white;
    border: 1px solid var(--orangey);
    margin-bottom: 2vh;
}

.edit-account button.logout {
    width: 23.5vw;
    background-color: var(--orangey);
    border: 1px solid black;
}

/* BIOGRAPHY */
.profile-info {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

@keyframes avatarRotate {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-2vh);
    }
    75% {
        transform: translateY(2vh);
    }
    100% {
        transform: translateY(0px);
    }
}

.profile-picture {
    width: 40vw;
    height: auto;
    align-self: center;
    border: 1px solid var(--orangey);
    border-radius: 100%;
}

.biography-wrapper {
    display: flex;
    flex-direction: column;
}

.biography {
    resize: none;
    padding: 5px;
    height: 20vh;
    border: 1px solid var(--orangey);
    margin-top: 3vh;
}

.biography:focus {
    outline: none;
}

.biography:focus::placeholder {
    color: transparent;
}

a .orange {
    background-color: var(--orangey);
    border: 1px solid black;
}

/* PICK YOUR AVATAR */

.pick-your-avatar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.avatar-wrapper {
    display: flex;
    margin-top: 2vh;
}

.avatar-wrapper label {
    margin-right: 3vw;
}

.avatar-wrapper input {
    margin-top: 2vh;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.avatar-wrapper img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.avatar-wrapper button {
    margin: 0;
    border: 1px solid black;
    background-color: var(--orangey);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .profile-picture {
        width: 30vw;
        height: auto;
    }

    .biography {
        width: 50vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .profile-picture {
        width: 20vw;
        height: auto;
    }

    .biography {
        width: 30vw;
    }

    .pick-your-avatar button {
        width: 20vw;
    }
}
