.homepage {
    width: 100vw;
    margin-left: 5vw;
}

.homepage-image {
    width: 90vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 8px;
}

.welcome-text {
    color: var(--orangey);
    margin-top: 3vh;
}

.homepage p {
    width: 90vw;
    margin-top: 2vh;
}

/* NEW POSTS */

.upload-image {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.new-post form {
    display: flex;
    flex-direction: column;
}

.new-post label {
    margin-top: 2vh;
}

.new-post input {
    margin-top: 2vh;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.new-post h2 {
    margin-top: 2vh;
}

.new-post p {
    margin: 0;
}

.write-new-post {
    width: 90vw;
    border: 1px solid var(--orangey);
    margin-top: 2vh;
    padding: 5px;
}

.write-new-post:focus {
    outline: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .write-new-post {
        width: 60vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .write-new-post {
        width: 50vw;
    }

    .post .post-image {
        width: 50vw;
        height: auto;
    }
}
