.homepage {
  width: 100vw;
  margin-left: 5vw;
}

.homepage-image {
  width: 90vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 8px;
}

.welcome-text {
  color: var(--orangey);
  margin-top: 3vh;
}

.homepage p {
  width: 90vw;
  margin-top: 2vh;
}
