.login-page {
  width: 90vw;
  margin-left: 5vw;
}

.login-page h1 {
  color: var(--blueish);
}

.login-page form {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.login-page label {
  font-size: 1.2rem;
  margin-bottom: 2vh;
}

.login-page input {
  border: 1px solid var(--orangey);
  width: 50vw;
  height: 6vh;
  padding-left: 2vw;
  margin-bottom: 2vh;
}

.login-page input:focus {
  outline: none;
}

.login-page button {
  width: 30vw;
  height: 6vh;
  margin-top: 2vh;
  background-color: #fff;
  border: 1px solid var(--orangey);
  align-self: flex-start;
}
