:root {
  --orangey: #f69704;
  --grayish: #302f2f;
  --blueish: #66a8cb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: var(--blueish);
}

h1 {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: 1px solid var(--orangey);
  width: 50vw;
  height: 6vh;
  padding-left: 2vw;
  margin-bottom: 2vh;
}

input:focus {
  outline: none;
}

p.error {
  color: red;
}
