nav {
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: auto;
    height: 90%;
    margin-left: 5vw;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu li {
    margin-right: 5vw;
}

.menu li a {
    font-size: 1rem;
    color: var(--orangey);
}

.settings-anchor {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-icon {
    height: 50%;
    width: auto;
    margin: 0 5vw 0 0;
}

.active {
    font-weight: bold;
}
