.your-posts {
    display: flex;
    flex-direction: column;
    margin: 3vh 0 0 5vw;
}

.post {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.post img {
    width: 90vw;
    height: auto;
    max-height: 80vh;
    margin-bottom: 2vh;
}

.post .post-line {
    height: 1px;
    background-color: var(--orangey);
    margin-top: 2vh;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.delete {
    margin-right: 5vw;
    background-color: rgb(204, 38, 38);
}

.delete a {
    color: var(--orangey);
}
